<ion-header>
    <ion-navbar>
        <ion-title>Electricity Bills</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div class="form">
        <ion-list no-lines>
            <ion-item>
                <p item-start text-end>Prepaid</p>
                <ion-toggle checked="false" [(ngModel)]="variation"></ion-toggle>
                <p item-end text-start>Postpaid</p>
            </ion-item>
            <ion-item>
                <ion-label>Select your DISCO</ion-label>
                <ion-select [(ngModel)]="network">
                    <ion-option *ngFor="let i of networks" value="{{i.name}}||{{i.serviceID}}">{{i.name}}</ion-option>
                </ion-select>
                <ion-icon class="material-icons" item-end>keyboard_arrow_down</ion-icon>
            </ion-item>
            <ion-item>
                <ion-input type="number" [(ngModel)]="billersCode" placeholder="Meter Number" (blur)="verifyBiller()"></ion-input>
            </ion-item>
            <p *ngIf="name"><b>OWNER: </b>{{ name }}</p>
            <ion-item>
                <ion-input type="text" [(ngModel)]="email" placeholder="Email"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input type="number" [(ngModel)]="phone" placeholder="Phone"></ion-input>
                <ion-icon class="material-icons" item-end>account_box</ion-icon>
            </ion-item>
            <ion-item>
                <ion-input type="number" [(ngModel)]="amount" placeholder="Amount"></ion-input>
            </ion-item>
        </ion-list>
        <button ion-button block class="btn" [disabled]="network=='' || email=='' || phone=='' || amount=='' || billersCode=='' || name==''" (click)="presentConfirm()">Pay Now</button>
    </div>

    <!-- <div class="banner">
        <div class="banner_img">
            <img src="assets/imgs/banner3.png">
        </div>
        <div class="banner_text" text-right>
            <h3 text-uppercase>Winter Sale</h3>
            <h2>Flat 50% OFF</h2>
            <h4 text-uppercase>{{'shop_now' | translate}}</h4>
        </div>
    </div> -->
</ion-content>
